.image {
  max-width: 100%;
  @extend .image--md;
}
.image--md {
  width: map-get($image, width);
}
.image--xl {
  width: map-get($image, width-xl);
}
.image--lg {
  width: map-get($image, width-lg);
}
.image--sm {
  width: map-get($image, width-sm);
}
.image--xs {
  width: map-get($image, width-xs);
}

@each $size in (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100) {
  .image--#{$size} {
    width: percentage($size / 100);
  }
  @each $media in (xxl, xl, lg, md, sm, xs) {
    @include media-breakpoint-up($media) {
      .image--#{$media}--#{$size} {
        width: percentage($size / 100);
      }
    }
  }
}